{{ vector_general_config | default("") }}
sources:
  {{ vector_sources_config | to_nice_yaml | indent(2) }}
{% if vector_transforms_config is defined %}
transforms:
  {{ vector_transforms_config | to_nice_yaml | indent(2) }}
{% endif %}
sinks:
  {{ vector_sinks_config | to_nice_yaml | indent(2) }}
